/.DS_Store
/Download_files
*.pyc
__pycache__/
env/
venv/
*.db
*.sqlite3
*.log
*.backup
*.bkup
*.pot
*.mo
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py
.pyre/
.mypy_cache/
.dmypy.json
.pytype/
.pyright/
cython_debug/
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.code-workspace
*.iml
media_library.db
media/
staticfiles/
local_settings.py
db.sqlite3
celerybeat-schedule
celerybeat.pid
celeryd.pid
celeryd.log
debug.log
gunicorn.log
pids/
logs/
*.log.*
.env
.env.*
.venv/
.envrc
.terraform/
.terraform.lock.hcl
.terraform.tfstate
.terraform.tfstate.backup
crash.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
node_modules/
dist/
build/
.next/
out/
.nuxt/
.cache/
.svelte-kit/
.vite/
coverage/
